# Dependencies
node_modules/
*/node_modules/

# Production builds
dist/
build/
*/dist/
*/build/

# Environment variables
.env.local
.env.*.local
*.env

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
